.kotak {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: aqua;
    overflow: hidden;
    background-size: cover;
    /* background-image: url(pp.jpg); */
    border-radius: 30% 30% 30% 30%;
    text-align: center;
    line-height: 300px;
}

body {
    background-image: url(bg.jpg);
}

.kotak2 {
    width: 500px;
    height: 400px;
    margin: 10% auto;
    border-radius: 0%;
    background-color: rgba(255, 235, 205, 0.5);
    position: relative;
}

.kotak3 {
    width: 100px;
    height: 100px;
    background-color: rgba(180, 119, 28, 1);
    text-align: center;
    line-height: 400px;
    border-radius: 10% 10% 10% 10%;
    position: absolute;
    line-height: 100px;
    top: -30px;
    right: -30px;
}

.bio {
    padding: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.lmen {
    width: 200px;
    height: 200px;
    background-color: bisque;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin: 10px auto;
}

a {
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}